:root{
    --blue-color : #0b4a97;
    --yellow-color : #feff01;
    --red-color : #bf0701;
    --white-color: #f9f9f9;
}
body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: var(--white-color);
    font-size: 3vw;
}

.red-letter{
    border-radius: 100px;
    padding: 0.5vw;
    background-color: var(--red-color);
}

.yellow-letter{
    border-radius: 100px;
    padding: 0.5vw;
    background-color: var(--yellow-color);
    color: black;
}

#start{
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 1vh 2vw;
    border: none;
    border-radius: 25px;
}

#start:hover{
    transform: scale(1.5);
    cursor: pointer;
}

table{
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height: 40vh;
}

table, tr, td {
    border: 2px solid var(--blue-color);
    border-collapse: collapse;
}

td{
    padding: 1vw 2vw;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

#keyboard button{
    background-color: var(--blue-color);
    border: none;
    border-radius: 10px;
    padding: 1vh 2vw;
    color: var(--white-color);
    font-size: 1vw;
    text-transform: uppercase;
}

#keyboard button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

.good-place{
    background-color: var(--red-color) !important;
}

.bad-place{
    background-color: var(--yellow-color) !important;
}

.no-place{
    background-color: rgb(58, 57, 57) !important;
}

.cursor{
    background-color: aqua !important;
}